body{
    margin: 0;
    background-color: rgb(38, 102, 25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    text-align: center;
    font-weight: bold;
}
h1{
    
    color: goldenrod;
}
#message-el{
    font-style: italic;
    
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.btn-card{
    margin-bottom: 5px;
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding: 5px 0;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}